extends ../layout

block content

  h2= book.title
  h2= book.author
  h4= book.genre + ', ' + book.year

  br

  a.button(href=`/books/${book.id}/update-book`) Edit

  a.button.search(href=`/books/${book.id}/delete-book`) Delete

  a.button(href='/') Back