extends layout

block content

  h1 Books on Books on Books!
  
  div
    input(placeholder="Search books...")
    a.button.search Search
    a.button(href='/books/new-book') Create New Book
      
  p

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
      tr
        td
          a(href='books/' + book.id)= book.title
        td= book.author
        td= book.genre
        td= book.year

  if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
    .navigation.well-sm#pagination
      ul.pager
        if paginate.hasPreviousPages
          li.previous
            a(href=paginate.href(true)).button.prev
              i.fa.fa-arrow-circle-left
              |  Previous
        if pages
          each page in pages
            a.button(href=page.url)= page.number
        if paginate.hasNextPages(pageCount)
          li.next
            a(href=paginate.href()).next
              | Next&nbsp;
              i.fa.fa-arrow-circle-right